@model ATU.Web.Domain.Model.Answer.AnswerFields

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
   
    <div class="input-group">
        @Html.LabelFor(m => m.Text)
        @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.QuestionId)
    @Html.HiddenFor(m => m.Id)

    <div class="form-actions">
        <button type="submit" class="btn btn-blue">Submit</button>
    </div>
}